/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules to this files as you see fit! :D
********************************************/

html,
body {
	margin: 0;
}

header {
	background: #76c3fa;
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

.instructions {
	border: lightgray 5px;
	padding: 30px;
}

.pull-left{
	float: left;
	border: 5px lightgrey;
}


.clear {
	clear: both;
	background: #76c3fa;

}

.pull-right {
	float: right;
	margin-left: 20px;
	border: 5px solid white;
	height: 40px;
	width: 40px;
}

/***
* Flexbox Sticky Footer
* Pushes footer to the bottom. Always.
*
* Adapted from:
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

footer {
	margin: 0;
	background: black;
	color: white;
	font-size: small;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}